body {
	background-image: url('greenforest.jpg');
	background-attachment: fixed;
	margin-bottom: 0px;
	font-family:Oxygen;
}
* {
  box-sizing: border-box;
}
#main {
	width: 1200px;
	height: auto;
	margin: auto;
}
#master{
	height: 100%;
}
#header {
    background-color:transparent;
    text-align:center;
	height:150px;
	padding-top: 0px;
}

#container {
	height:50px;
	padding-top: 6px;
	padding-right: 90px;
    background-color:black;
    text-align:center;
	border:5px double gold;
	border-radius: 10px 10px 0px 0px;
}
#container a {
	padding-top: 4px;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right:4px;
	
	color: #ffffff;
	float: middle;
	font-size: 25px;
	cursor: pointer;
	text-decoration: none;
}
a:hover, a:active, a:focus{
	background-color: rgb(128, 128, 128);
}
p#containerOptions{
	color: black;
	font-size: 20px;
}
#sides {
	background-image:url('texture.jpg');
 
	width: 100%;
	padding-left: 225px;
	padding-bottom: 70px;
	border-style: none solid;
	border-color: #545454;
}
#middle {
	background-color:grey;
	
	width: 750px;
	padding: 20px;
	padding-bottom: 50px;
	border-radius: 0px 0px 8px 8px ;
	border-width:5px;
	border-color: gold;
	border-style: none double double;
}
h1{
	text-align: center;
	border-bottom: 1px solid gold;
	color:gold;
}
p, li{
	color:white;
}
.questiontext {
	background-color: #595959;
	padding: 5px;
	border: 1px solid black;
}
.header {
	border-bottom: 1px solid gold;
	color:white;
	font-size: 19px;
}
.timestamp{
	color:black;
	font-size: 14px;
	float: right;
	margin-top: -10px;
}
#monsterlist{
	background-color:#595959;
	border: 1px solid black;
	padding: 5px;
	padding-left: 45px;
}
li a {
	color:#fffdba;
	text-decoration: none;
}
li a:hover,li a:active,li a:focus{
	
	background-color: #adadad;
	text-decoration: none;
}
#viego{
	color: #00eb81;
	font-weight: bold;
}
#logo {
	margin-left: -210px;
	float: left;
	position: absolute;
}
#title{
	margin-top: -20px;
}
.monstername{
	color:gold;
	font-size: 25px;
	border-bottom: 1px solid gold;
	border-top: 1px solid gold;
}
.monsterinfo{
	color:#fffdba;
}
.monsterimage {
	margin-top: -15px;
	border-radius: 8px;
}
.innerimage {
	margin-left: 30px;
}

.champion {
	background-color: #595959;
	padding: 15px;
	border: 1px solid silver;
	margin-top: 30px;
}
.champion IMG{
	float: left;
	border-radius: 8px;
}
.champion .name {
	color:white;
	font-size: 35px;
	padding-left: 20px;
	float: left;
	margin-top: 25px;
	margin-bottom: 0;
}
.champion .description{
	font-style: italic;
	margin-left: 110px;
	margin-top: 0px;
}
.champion .abillity{
	color:yellow;
}
.champion .abillitydescription{
	font-size: 13px;
}
.champion span{
	color: #fffdba;
}
